{% extends 'registration/login.html' %}
{% block navbar %}
{% endblock %}
{% block name %}<div class="card-header">Добавление спортсмена</div>{% endblock %}
{% block forms %}
    <div class="mx-5 p-1">
    <form action="." method="post">{% csrf_token %}
        {% for field in user_form %}
            <div class="form-group row">
                <label for="email_address" class="col-md-4 col-form-label text-md-right">{{ field.label_tag }}</label>
                <div class="controls">
                {{ field }}
                </div>
            </div>
        {% endfor %}
        <div class="col-md-6 offset-md-4">
            <p><input type="submit" class="btn btn-primary" value="Добавить спортсмена"></p>
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
    </div>
{% endblock %}

