{% extends 'charts/chart_base.html' %}
{% load l10n %}
{% block menu %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'charts' %}">Функциональная подготовленность</a>
            <a class="nav-item nav-link" href="{% url 'physical_charts' %}">Физическая подготовленность</a>
            <a class="nav-item nav-link" href="{% url 'tactical_charts' %}">Технико-тактическая подготовленность</a>
            <a class="nav-item nav-link" href="{% url 'psy_charts' %}">Психологическая подготовленность</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="mx-5 p-1">
    <figure class="highcharts-figure">
        <div class="row">
            <div id="container"></div>
            <div id="chart_index_of_rufe"></div>
        </div>
        <div class="row">
            <div id="chart_coefficient_of_endurance"></div>
            <div id="chart_blood_circulation"></div>
        </div>
        <div class="row">
            <div id="chart_orthostatic_test"></div>
            <div id="chart_clinostatic_test"></div>
        </div>
        <div class="row">
            <div id="chart_rosenthal_test"></div>
        </div>
    </figure>
</div>

  <script>
 Highcharts.chart('container', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'ЧПП'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'ЧПП',
        data: [{% for entry in dataset_pulse_rate %}[{{ entry.pulse_rate }}]{% if not forloop.last %}, {% endif %}{% endfor %}]
    }]
});

 Highcharts.chart('chart_index_of_rufe', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Проба Руффье'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']
            {% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Проба Руффье',
        data: [{% for entry in dataset_index_of_rufe %}[{{ entry.index_of_rufe }}]
            {% if not forloop.last %}, {% endif %}{% endfor %}]
    }]
});
  Highcharts.chart('chart_coefficient_of_endurance', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Коэффициент выносливости'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Коэффициент выносливости',
        data: {% localize off %}[{% for entry in dataset_coefficient_of_endurance %}[{{ entry.coefficient_of_endurance }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
    Highcharts.chart('chart_blood_circulation', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Коэффициент экономичности кровообращения'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Коэффициент экономичности кровообращения',
        data: {% localize off %}[{% for entry in dataset_blood_circulation %}[{{ entry.blood_circulation }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
        Highcharts.chart('chart_orthostatic_test', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Ортостатическая проба'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Ортостатическая проба',
        data: {% localize off %}[{% for entry in dataset_orthostatic_test %}[{{ entry.orthostatic_test }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_clinostatic_test', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Клиностатическая проба'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Клиностатическая проба',
        data: {% localize off %}[{% for entry in dataset_clinostatic_test %}[{{ entry.clinostatic_test }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_rosenthal_test', {
    chart: {
        width: 1200,
        type: 'line',
    },
    title: {
        text: 'Проба Розенталя'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Проба Розенталя',
        data: {% localize off %}[{% for entry in dataset_rosenthal_test %}[{{ entry.rosenthal_test }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});

  </script>

{% endblock %}

