{% extends 'charts/chart_base.html' %}
{% load l10n %}
{% block menu %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'charts' %}">Функциональная подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'physical_charts' %}">Физическая подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'tactical_charts' %}">Технико-тактическая подготовленность</a>
              <a class="nav-item nav-link active" href="{% url 'psy_charts' %}">Психологическая подготовленность</a>
            </div>
          </div>
        </nav>
{% endblock %}

{% block content %}
<div class="mx-5 p-1">
<figure class="highcharts-figure">
    <div class="row">
        <div id="charts_thermometer_test"></div>
        <div id="chart_second_test"></div>
    </div>
    <div class="row">
        <div id="chart_emotional_stability"></div>
        <div id="chart_persistence_ratio"></div>
    </div>
    <div class="row">
        <div id="chart_courage_ratio"></div>
    </div>
</figure>
</div>

  <script>
 Highcharts.chart('charts_thermometer_test', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Тест "Градусник"'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Тест "Градусник"',
        data: {% localize off %}[{% for entry in dataset_thermometer_test %}[{{ entry.thermometer_test }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});

 Highcharts.chart('chart_second_test', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Тест "10 секунд"'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Тест "10 секунд"',
        data: {% localize off %}[{% for entry in dataset_second_test %}[{{ entry.second_test }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
  Highcharts.chart('chart_emotional_stability', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Коэффициент эмоциональной устойчивости\t'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Коэффициент эмоциональной устойчивости\t',
        data: {% localize off %}[{% for entry in dataset_emotional_stability %}[{{ entry.emotional_stability }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
    Highcharts.chart('chart_emotional_stability', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Коэффициент эмоциональной устойчивости\t'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Коэффициент эмоциональной устойчивости\t',
        data: {% localize off %}[{% for entry in dataset_emotional_stability %}[{{ entry.emotional_stability }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
    Highcharts.chart('chart_persistence_ratio', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Коэффициент настойчивости'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Коэффициент настойчивости',
        data: {% localize off %}[{% for entry in dataset_persistence_ratio %}[{{ entry.persistence_ratio }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_courage_ratio', {
    chart: {
        width: 1200,
        type: 'line',
    },
    title: {
        text: 'Коэффициент смелости'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Коэффициент смелости',
        data: {% localize off %}[{% for entry in dataset_courage_ratio %}[{{ entry.courage_ratio }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
  </script>

{% endblock %}

