<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Title</title>
</head>
<body>
<body>
    <div class="mx-5 p-1">
        <p></p>
    {% block forms %}

        <nav class="navbar navbar-light bg-light justify-content-between">
            <form method="POST" class="post-form">{% csrf_token %}
            {% if not perms.indicators.add_indicator %}
            <p>Спортсмен: {{ request.user.first_name }} {{ request.user.last_name }}</p>
            {% endif %}
                    {% for field in form %}
                            <div class="fieldWrapper">
                            {# uncomment to display field errors #}
                            {# {{ field.errors }} #}

                            {{ field.label_tag }} {{ field }}
                            <p></p>
                        </div>
                    {% endfor %}
            <div class="btn-group" role="group" aria-label="Third group">

                <button type="submit" class="btn btn-primary btn-sm btn-success mr-3">Вывести</button>
            </form>

                {% block charts_start %}
                    <form action="{% url 'new' %}">
                    <button type="submit" class="btn btn-primary btn-sm" >Построить графики</button>
                </form>
                {% endblock %}

                {% if perms.indicators.add_indicator %}
                <form action="{% url 'new' %}">
                    <button type="submit" class="btn btn-primary btn-sm mr-1" ><i class="fas fa-plus"></i> Добавить показатели</button>
                </form>
                {% endif %}

                <form action="{% url 'logout' %}">
                    <button type="submit" class="btn btn-primary btn-sm btn-danger" ><i class="fas fa-sign-out-alt"></i> Выход</button>
                </form>
        </nav>


    {% endblock %}
    {% block menu %}
        <p></p>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#">Функциональная подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'physical' %}">Физическая подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'tactical' %}">Технико-тактическая подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'psy' %}">Психологическая подготовленность</a>
            </div>
          </div>
        </nav>
    </div>
    {% endblock %}
    {% block table_content %}{% endblock %}
</body>
</html>