{% extends 'base.html' %}

{% block forms %}
{% endblock %}

{% block menu %}
        <p></p>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <p>Для того, чтобы оценка формировалась автоматически необходимо настроить форматирование оценок.
                  Чтобы корректно настроить форматирование, воспользуйтесь инструкцией ниже.<br><br>
                  1. Выберите нужный <b>статистический показатель</b> из выпадающего списка<br>
                  2. Выберите <b>категорию</b> из выпадающего списка<br>
                  3. Настройте <b>нижнюю</b> и <b>верхнюю</b> границы для пяти видов оценок<br><br>
                  Верхняя и нижняя граница образуют диапазон чисел от X до Y, где Х - <b>нижняя граница</b>, Y - <b>верхняя граница</b>  (включительно)

              <br><br>Обратите внимание:<br>
              1. <b>Форатирование для оценки не определено</b> означает, что форматирование не было настроено. Для этого
              заполните поля ниже<br>
              2. <b>Выход за указанный диапазон</b> означает, что значение статистического показателя вышло за пределы
              указанных границ. Для изменения границ обратитесь к администратору</br>
        </nav>
    </div>
{% endblock %}

{% block table_content %}
    <div class="mx-5 p-1">
        <form method="POST" class="post-form">{% csrf_token %}
            <table class="table table-hover">
                {{ form_grade_formatting.as_table }}
            </table>
            <div class="row">
            <button type="submit" class="save btn btn-primary btm-sm btn-success mr-1">Сохранить изменения</button>
        </form>
        <form action="{% url 'index' %}">
            <button type="submit" class="save btn btn-primary btm-sm btn-danger mr-1">Вернуться</button>
        </form>
    </div>
    </div>
{% endblock %}

