{% extends 'base.html' %}

{% block forms %}
{% endblock %}

{% block menu %}
        <p></p>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <p>Настройка форматирование оценки</p>
        </nav>
    </div>
{% endblock %}

{% block table_content %}
    <div class="mx-5 p-1">
        <form method="POST" class="post-form">{% csrf_token %}
            <table class="table table-hover">
                {{ form_grade_formatting.as_table }}
            </table>
            <div class="row">
            <button type="submit" class="save btn btn-primary btm-sm btn-success mr-1">Сохранить изменения</button>
        </form>
        <form action="{% url 'index' %}">
            <button type="submit" class="save btn btn-primary btm-sm btn-danger mr-1">Вернуться</button>
        </form>
    </div>
    </div>
{% endblock %}

