{% extends 'base.html' %}

{% block forms %}
{% endblock %}

{% block menu %}
        <p></p>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                    <ul class="nav nav-tabs">
                      <li class="nav-ink">
                        <a data-toggle="tab" class="nav-link" href="#description">Форматирования оценки</a>
                      </li>
                      <li class="nav-item">
                        <a data-toggle="tab" class="nav-link" href="#characteristics">Добавление показателей</a>
                      </li>
                        <li class="nav-item">
                            <a data-toggle="tab" class="nav-link" href="#charts">Работа с графиками</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" class="nav-link" href="#reg">Регистрация спортсмена</a>
                        </li>
                    </ul>
            </div>
          </div>
        </nav>
    </div>
{% endblock %}

{% block table_content %}
    <div class="mx-5 p-1">
        <div class="tab-content">
          <div class="tab-pane" id="description">
            <p>Для того, чтобы оценка формировалась автоматически необходимо настроить форматирование оценок.<br>
                  1. Выберите нужный <b>статистический показатель</b> из выпадающего списка<br><br>
                <img src="http://joxi.ru/VrwaYxQfj93Zz2.jpg"><br><br>
                  2. Выберите <b>категорию</b> из выпадающего списка<br><br>
                <img src="http://joxi.ru/82Q3eX7CVnWlJr.jpg"><br><br>
                  3. Настройте <b>верхнюю</b> и <b>нижнюю</b> границы для пяти видов оценок<br>
                  Верхняя и нижняя граница образуют диапазон чисел от X до Y, где Х - <b>верхняя граница</b>, Y - <b>нижняя граница</b>  (включительно)<br><br>
                <img src="http://joxi.ru/5mdpz9WtawLNWm.jpg">

              <br><br>Обратите внимание:<br>
              1. <b>Форматирование для оценки не определено</b> означает, что форматирование не было настроено. Для этого
              заполните поля ниже<br>
              2. <b>Выход за указанный диапазон</b> означает, что значение статистического показателя вышло за пределы
              указанных границ. Для изменения границ обратитесь к администратору</br>
          </div>
          <div class="tab-pane" id="characteristics">
              Для того чтобы занести в систему показатели спортсмена необходимо нажать на кнопку <b>"Добавить показатели"</b> <br><br>
              <img src="http://joxi.ru/a2XyWNeul8o1pA.jpg"><br><br>
              В открывшемся окне выберите нужного Вам спортсмена<br><br>
              <img src="http://joxi.ru/krDeqQ9ugaoMDm.jpg"><br><br>
              Затем выберите дату норматива <b>(1, 2)</b> и заполните поля показателями спортсмена <b>(3)</b>. Нажмите на кнопку "Сохранить изменения" <b>(4)</b><br><br>
              <img src="http://joxi.ru/ZrJWeKqIbLo1Zm.jpg"><br><br>
              Чтобы просмотреть введеные данные выберите из выпадающего меню нужного Вам спортсмена <b>(1)</b>, дату норматива <b>(2)</b> и категорию <b>(3)</b><br>
              Нажмите на кнопку <b>"Вывести"</b>, после чего в колонке "Результат" <b>(4)</b> отобразятся заполненные Вами данные<br><br>
              <img src="http://joxi.ru/xAelYoeUbwnYj2.jpg"><br><br>
          </div>
          <div class="tab-pane" id="charts">
            Чтобы посмотреть динамику результатов спортсмена Вы можете построить графики. Для этого нажмите на кнопку <b>"Построить графики"</b><br><br>
              <img src="http://joxi.ru/zANZe35t8Ro6WA.jpg"><br><br>
             На открывшейся странице выберите нужный тип подготовленности <b>(1)</b>, укажите спортсмена <b>(2)</b> и диапазон времени, за который Вы хотите<br>
              посмотреть результаты <b>(3)</b>. Чтобы вывести графики нажмите на кнопку "Визуализировать" <b>(4)</b>.<br><br>
              <img src="http://joxi.ru/YmEey5kuBQoMJm.jpg"><br><br>
              Вы можете распечатать отдельный график или сохранить его в виде изображения. Для этого нажмите на кнопку гамбургера и во всплывающем меню выберите<br>
              подходящий для Вас вариант<br><br>
              <img src="http://joxi.ru/bmoQYKOu7Z5yXA.jpg"><br><br>
          </div>
            <div class="tab-pane" id="reg">
                Спортсмены не могут регистрироваться в системе самостоятельно. Зарегистрировать их должен тренер. Для этого нажмите на кнопку <b>"Добавить спортсмена"</b><br><br>
                <img src="http://joxi.ru/eAOaeO4f63o65m.jpg"><br><br>
                В открывшемся окне введите английскими буквами логин спортсмена <b>(1)</b>. Он будет использоваться для входа в систему. Укажите имя и фаилию спортсмена <b>(2)</b><br>
                Введите адрес электронной почты <b>(3)</b>. Он необходим для восстановления пароля. Заполните поля с паролем <b>(4)</b>, введите капчу <b>(5)</b> и нажмите на кнопку<br>
                "Добавить спортсмена" <b>(6)</b>. После этого в системе будет создана учетная запись спортсмена. Сообщите ему данные для входа<br><br>
                <img src="http://joxi.ru/Vm6eaYbuRo5KZr.jpg"><br><br>
            </div>
            <div class="tab-pane active">
                Данная страница содержит инструкцию по основным моментам работы с системой.<br>
                Для навигации используйте меню выше.
                <br><br>
            </div>
        </div>
        <form action="{% url 'index' %}">
            <button type="submit" class="btn btn-primary btn-sm">Вернуться</button><br>
        </form>
    </div>
{% endblock %}

