<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <meta charset="UTF-8">
    {% load l10n %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Title</title>
</head>
<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <div class="mx-5 p-1">
        <p></p>

        <nav class="navbar navbar-light bg-light justify-content-between">
            <form method="POST" class="post-form">{% csrf_token %}
                    {% for field in formdate %}
                        <div class="fieldWrapper">
                            {# uncomment to display field errors #}
                            {# {{ field.errors }} #}

                            {{ field.label_tag }} {{ field }}
                            <p></p>
                        </div>
                    {% endfor %}
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="submit" class="btn btn-primary btn-sm btn-success mr-3">Визуализировать</button>
            </form>

         <form action="{% url 'physical' %}">
            <button type="submit" class="btn btn-primary btn-sm mr-1" ><i class="fas fa-table"></i> Построить таблицы</button>
        </form>

        <form action="{% url 'new' %}">
            <button type="submit" class="btn btn-primary btn-sm" ><i class="fas fa-plus"></i> Добавить показатели</button>
        </form>

        </nav>

        <p></p>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'charts' %}">Функциональная подготовленность</a>
              <a class="nav-item nav-link active" href="{% url 'physical_charts' %}">Физическая подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'tactical_charts' %}">Технико-тактическая подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'psy_charts' %}">Психологическая подготовленность</a>
            </div>
          </div>
        </nav>
    </div>

<figure class="highcharts-figure">
    <div class="row">
        <div id="charts_pullups"></div>
        <div id="chart_push_ups"></div>
    </div>
    <div class="row">
        <div id="chart_sit_up"></div>
        <div id="chart_long_jump"></div>
    </div>
    <div class="row">
        <div id="chart_acceleration"></div>
        <div id="chart_six_minute_run"></div>
    </div>
    <div class="row">
        <div id="chart_shuttle_run"></div>
        <div id="chart_bridge"></div>
    </div>
    <div class="row">
        <div id="chart_twine"></div>
        <div id="chart_blow_strength"></div>
    </div>
    <div class="row">
        <div id="chart_endurance"></div>
        <div id="chart_flexibility"></div>
    </div>
    <div class="row">
        <div id="chart_coordination"></div>
        <div id="chart_physical_fitness"></div>
    </div>
</figure>


  <script>
 Highcharts.chart('charts_pullups', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Подтягивания'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Подтягивания',
        data: [{% for entry in dataset_pullups %}[{{ entry.pullups }}]{% if not forloop.last %}, {% endif %}{% endfor %}]
    }]
});

 Highcharts.chart('chart_push_ups', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Отжимания'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Отжимания',
        data: [{% for entry in dataset_push_ups %}[{{ entry.push_ups }}]{% if not forloop.last %}, {% endif %}{% endfor %}]
    }]
});
  Highcharts.chart('chart_sit_up', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Пресс "Складка"'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Пресс "Складка"',
        data: [{% for entry in dataset_sit_up %}[{{ entry.sit_up }}]{% if not forloop.last %}, {% endif %}{% endfor %}]
    }]
});
Highcharts.chart('chart_long_jump', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Прыжок в длину с места'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Прыжок в длину с места',
        data: {% localize off %}[{% for entry in dataset_long_jump %}[{{ entry.long_jump }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_acceleration', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Ускорение 100м (c)'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Ускорение 100м (c)',
        data: {% localize off %}[{% for entry in dataset_acceleration %}[{{ entry.acceleration }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_six_minute_run', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: '6-ти минутный бег (м)'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: '6-ти минутный бег (м)',
        data: {% localize off %}[{% for entry in dataset_six_minute_run %}[{{ entry.six_minute_run }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_shuttle_run', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Челночный бег 4х9м (с)'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Челночный бег 4х9м (с)',
        data: {% localize off %}[{% for entry in dataset_shuttle_run %}[{{ entry.shuttle_run }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_bridge', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: '"Мостик" (см)'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: '"Мостик" (см)',
        data: {% localize off %}[{% for entry in dataset_bridge %}[{{ entry.bridge }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_twine', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: '"Шпагат" (см)'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: '"Шпагат" (см)',
        data: {% localize off %}[{% for entry in dataset_twine %}[{{ entry.twine }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_blow_strength', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Сила ударов (%)'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Сила ударов (%)',
        data: {% localize off %}[{% for entry in dataset_blow_strength %}[{{ entry.blow_strength }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_endurance', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Выносливость (%)'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Выносливость (%)',
        data: {% localize off %}[{% for entry in dataset_endurance %}[{{ entry.endurance }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_flexibility', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Гибкость (%)'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Гибкость (%)',
        data: {% localize off %}[{% for entry in dataset_flexibility %}[{{ entry.flexibility }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_coordination', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Ккс (%)'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Ккс (%)',
        data: {% localize off %}[{% for entry in dataset_coordination %}[{{ entry.coordination }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_physical_fitness', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'КсФП (%)'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'КсФП (%)',
        data: {% localize off %}[{% for entry in dataset_physical_fitness %}[{{ entry.physical_fitness }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
  </script>

</body>
</html>

