{% extends 'base.html' %}
    {% block charts_start %}
    <form action="{% url 'psy_charts' %}">
        <button type="submit" class="btn btn-primary btn-sm" >Построить графики</button>
    </form>
    {% endblock %}
    {% block menu %}
        <p></p>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'index' %}">Функциональная подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'physical' %}">Физическая подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'tactical' %}">Технико-тактическая подготовленность</a>
              <a class="nav-item nav-link active" href="{% url 'psy' %}">Психологическая подготовленность</a>
            </div>
          </div>
        </nav>
    </div>
    {% endblock %}
{% block table_content %}
    <div class="mx-5 p-1">
            <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Название показателя</th>
                      <th scope="col">Результат</th>
                      <th scope="col">Оценка</th>
                    </tr>
                  </thead>
                <tbody>
                <tr>
                  <td scope="row">Тест "Градусник" (см)</td>
                  <td>{{ thermometer_test }}</td>
                </tr>
                <tr>
                  <td scope="row" >Тест "10 секунд" (разница в с)</td>
                  <td>{{ second_test }}</td>

                </tr>
                <tr>
                  <td scope="row">Коэффициент эмоциональной устойчивости</td>
                  <td >{{ emotional_stability }}</td>
                </tr>
              </tbody>
            </table>
    </div>
{% endblock %}