<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <meta charset="UTF-8">
    {% load l10n %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Title</title>
</head>
<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <div class="mx-5 p-1">
        <p></p>

        <nav class="navbar navbar-light bg-light justify-content-between">
            <form method="POST" class="post-form">{% csrf_token %}
                    {% for field in formdate %}
                        <div class="fieldWrapper">
                            {# uncomment to display field errors #}
                            {# {{ field.errors }} #}

                            {{ field.label_tag }} {{ field }}
                            <p></p>
                        </div>
                    {% endfor %}
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="submit" class="btn btn-primary btn-sm btn-success mr-3">Визуализировать</button>
            </form>

         <form action="{% url 'tactical' %}">
            <button type="submit" class="btn btn-primary btn-sm mr-1" ><i class="fas fa-table"></i> Построить таблицы</button>
        </form>

        <form action="{% url 'new' %}">
            <button type="submit" class="btn btn-primary btn-sm" ><i class="fas fa-plus"></i> Добавить показатели</button>
        </form>

        </nav>

        <p></p>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'charts' %}">Функциональная подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'physical_charts' %}">Физическая подготовленность</a>
              <a class="nav-item nav-link active" href="{% url 'tactical_charts' %}">Технико-тактическая подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'psy_charts' %}">Психологическая подготовленность</a>
            </div>
          </div>
        </nav>
    </div>

<figure class="highcharts-figure">
    <div class="row">
        <div id="charts_versatility_technical_actions"></div>
        <div id="chart_attack_efficiency"></div>
    </div>
    <div class="row">
        <div id="chart_protective_actions"></div>
        <div id="chart_warfare_ratio"></div>
    </div>
    <div class="row">
        <div id="chart_performance_ratio"></div>
        <div id="chart_technical_readiness"></div>
    </div>
    <div class="row">
        <div id="chart_tactical_action"></div>
        <div id="chart_versatility_actions"></div>
    </div>
    <div class="row">
        <div id="chart_chosen_tactics"></div>
        <div id="chart_adjustment_factor"></div>
    </div>
    <div class="row">
        <div id="chart_preparatory_actions"></div>
        <div id="chart_situational_actions"></div>
    </div>
    <div class="row">
        <div id="chart_scope_tactical_action"></div>
    </div>
</figure>


  <script>
 Highcharts.chart('charts_versatility_technical_actions', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Коэффициент объема технических действий'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Коэффициент объема технических действий',
        data: [{% for entry in dataset_versatility_technical_actions %}[{{ entry.versatility_technical_actions }}]{% if not forloop.last %}, {% endif %}{% endfor %}]
    }]
});

 Highcharts.chart('chart_attack_efficiency', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Коэффициент эффективности атакующих действий'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Коэффициент эффективности атакующих действий',
        data: [{% for entry in dataset_attack_efficiency %}[{{ entry.attack_efficiency }}]{% if not forloop.last %}, {% endif %}{% endfor %}]
    }]
});
  Highcharts.chart('chart_protective_actions', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Коэффициент эффективности защитных действий'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Коэффициент эффективности защитных действий',
        data: [{% for entry in dataset_protective_actions %}[{{ entry.protective_actions }}]{% if not forloop.last %}, {% endif %}{% endfor %}]
    }]
});
Highcharts.chart('chart_warfare_ratio', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Коэффициент эффективности боевых действий'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Коэффициент эффективности боевых действий',
        data: {% localize off %}[{% for entry in dataset_warfare_ratio %}[{{ entry.warfare_ratio }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_performance_ratio', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Коэффициент результативности'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Коэффициент результативности',
        data: {% localize off %}[{% for entry in dataset_performance_ratio %}[{{ entry.performance_ratio }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_technical_readiness', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Техническая подготовленность'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Техническая подготовленность',
        data: {% localize off %}[{% for entry in dataset_technical_readiness %}[{{ entry.technical_readiness }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_tactical_action', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Тактическая подготовленность'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Тактическая подготовленность',
        data: {% localize off %}[{% for entry in dataset_tactical_action %}[{{ entry.tactical_action }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_versatility_actions', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Разносторонность тактических действий'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Разносторонность тактических действий',
        data: {% localize off %}[{% for entry in dataset_versatility_actions %}[{{ entry.versatility_actions }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_chosen_tactics', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Коэффициент избранной тактики'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Коэффициент избранной тактики',
        data: {% localize off %}[{% for entry in dataset_chosen_tactics %}[{{ entry.chosen_tactics }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_adjustment_factor', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Коэффициент перестройки тактики'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Коэффициент перестройки тактики',
        data: {% localize off %}[{% for entry in dataset_adjustment_factor %}[{{ entry.adjustment_factor }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_preparatory_actions', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Коэффициент подготовительных тактических действий'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Коэффициент подготовительных тактических действий',
        data: {% localize off %}[{% for entry in dataset_preparatory_actions %}[{{ entry.preparatory_actions }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_situational_actions', {
    chart: {
        width: 600,
        type: 'line',
    },
    title: {
        text: 'Коэффициент ситуативных тактических действий'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Коэффициент ситуативных тактических действий',
        data: {% localize off %}[{% for entry in dataset_situational_actions %}[{{ entry.situational_actions }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
Highcharts.chart('chart_scope_tactical_action', {
    chart: {
        width: 1200,
        type: 'line',
    },
    title: {
        text: 'Коэффициент объема тактических действий'
    },
    xAxis: {
        categories:  [{% for entry in dataset_date %}['{{ entry.date }}']{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Значение'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Коэффициент объема тактических действий',
        data: {% localize off %}[{% for entry in dataset_scope_tactical_action %}[{{ entry.scope_tactical_action }}]{% if not forloop.last %}, {% endif %}{% endfor %}]{% endlocalize %}
    }]
});
  </script>

</body>
</html>