{% extends 'base.html' %}

{% block forms %}
{% endblock %}

{% block menu %}
        <p></p>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'new' %}">Функциональная подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'physical_new' %}">Физическая подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'tactical_new' %}">Технико-тактическая подготовленность</a>
              <a class="nav-item nav-link active" href="{% url 'psychological_new' %}">Психологическая подготовленность</a>
            </div>
          </div>
        </nav>
    </div>
{% endblock %}

{% block table_content %}
    <div class="mx-5 p-1">
        <form method="POST" class="post-form">{% csrf_token %}
            <table class="table table-hover">

                <tbody>
                {{ form_new_indicator.as_table }}
                </tbody>
            </table>
            <div class="row">
            <button type="submit" class="save btn btn-primary btm-sm btn-success mr-1">Сохранить изменения</button>
        </form>
        <form action="{% url 'psy' %}">
            <button type="submit" class="save btn btn-primary btm-sm btn-danger mr-1">Вернуться</button>
        </form>
    </div>
{% endblock %}

