{% extends 'base.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block charts_start %}
    <form action="{% url 'charts' %}">
        <button type="submit" class="btn btn-primary btn-sm mr-1" ><i class="fas fa-chart-line"></i> Построить графики</button>
    </form>
{% endblock %}

{% block table_content %}
    <div class="mx-5 p-1">
            <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Название показателя</th>
                      <th scope="col">Результат</th>
                      <th scope="col">Оценка</th>
                    </tr>
                  </thead>
                <tbody>
                <tr>
                  <td scope="row">ЧПП</td>
                  <td>{{ pulse_rate }}</td>
                    <td>{{ grade_pulse_rate }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Р1 + Р2 + Р3 = Проба Руффье

Р1 - пульс за 15 секунд в положении лежа на спине
Р2 - пульс за 15 секунд в положении лежа на спине после 30 приседаний в течении 45 секунд
Р3 - пульс в последние 15 секунд первой минуты восстановительного периода">Проба Руффье</td>
                  <td>{{ index_of_rufe }}</td>
                    <td>{{ grade_index_of_rufe }}</td>

                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="КВ = ЧСС(покой) + систолическое давление + диосистолическое давление.

В норме коэффициент выносливости должен равняться 16. При улучшении выносливости этот показатель уменьшается">Коэффициент выносливости</td>
                  <td >{{ coefficient_of_endurance }}</td>
                    <td>{{ grade_coefficient_of_endurance }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom"
                      title="КЭК = ЧСС + систолическое давление + диосистолическое давление.

В норме равен 2600. При утомлении увеличивается, а с ростом тренированности сердечно-сосудистой системы уменьшается">
                      Коэффициент экономичности кровообращения</td>
                  <td>{{ blood_circulation }}</td>
                    <td>{{ grade_blood_circulation }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="
                  Ортостатическая проба = Р1 - Р2

Р1 - частота пульса в течении 15 секунд через 1-3 минуты после того как спортсмен ложится на скамейку
Р2 - частота пульса в течении 15 секунд после того как спортсмен встал и перешел в вертикальное положение

Разница от 0 до 12 ударов - хорошая физическая подготовленность
Разница от 18 до 25 ударов - показатель отсутствия физической тренированности
Разница более 25 ударов - переутомление или заболевание, следует обратиться к врачу">Ортостатическая проба</td>
                  <td>{{ orthostatic_test }}</td>
                    <td>{{ grade_orthostatic_test }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Клиностатическая проба = Р1 + Р2

Р1 - частота пульса в течении 15 секунд через 1-3 минуты после того как спортсмен ложится на скамейку
Р2 - частота пульса в течении 15 секунд после того как спортсмен встал и перешел в вертикальное положение

В норме равен 2600, при утомлении увеличивается, а с ростом тренированности сердечно-сосудистой системы уменьшается">Клиностатическая проба</td>
                  <td>{{ clinostatic_test }}</td>
                    <td>{{ grade_clinostatic_test }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Выполняется трехкратное измерение ЖЕЛ, проводимое через каждые 15 секунд">Проба Розенталя</td>
                  <td>{{ rosenthal_test }}</td>
                    <td>{{ grade_rosenthal_test }}</td>
                </tr>
              </tbody>
            </table>
    </div>
{% endblock %}
