{% extends 'base.html' %}
    {% block charts_start %}
    <form action="{% url 'physical_charts' %}">
        <button type="submit" class="btn btn-primary btn-sm mr-1" ><i class="fas fa-chart-line"></i> Построить графики</button>
    </form>
    {% endblock %}
    {% block menu %}
        <p></p>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'index' %}">Функциональная подготовленность</a>
              <a class="nav-item nav-link active" href="{% url 'physical' %}">Физическая подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'tactical' %}">Технико-тактическая подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'psy' %}">Психологическая подготовленность</a>
            </div>
          </div>
        </nav>
    </div>
    {% endblock %}
{% block table_content %}
    <div class="mx-5 p-1">
            <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Название показателя</th>
                      <th scope="col">Результат</th>
                      <th scope="col">Оценка</th>
                    </tr>
                  </thead>
                <tbody>
                <tr>
                  <td scope="row">Подтягивания</td>
                  <td>{{ pullups }}</td>
                </tr>
                <tr>
                  <td scope="row" >Отжимания</td>
                  <td>{{ push_ups }}</td>

                </tr>
                <tr>
                  <td scope="row">Пресс - "складка"</td>
                  <td >{{ sit_up }}</td>
                </tr>
                <tr>
                  <td scope="row">Прыжок в длину с места</td>
                  <td >{{ long_jump }}</td>
                </tr>
                <tr>
                  <td scope="row">Ускорение 100м (c)</td>
                  <td >{{ acceleration }}</td>
                </tr>
                <tr>
                  <td scope="row">6-ти минутный бег (м)</td>
                  <td >{{ six_minute_run }}</td>
                </tr>
                <tr>
                  <td scope="row">Челночный бег 4х9м (с)</td>
                  <td >{{ shuttle_run }}</td>
                </tr>
                <tr>
                  <td scope="row">"Мостик" (см)</td>
                  <td >{{ bridge }}</td>
                </tr>
                <tr>
                  <td scope="row">"Шпагат" (см)</td>
                  <td >{{ twine }}</td>
                </tr>
                <tr>
                  <td scope="row">Сила ударов (%)</td>
                  <td >{{ blow_strength }}</td>
                </tr>
                <tr>
                  <td scope="row">Выносливость (%)</td>
                  <td >{{ endurance }}</td>
                </tr>
                <tr>
                  <td scope="row">Гибкость (%)</td>
                  <td >{{ flexibility }}</td>
                </tr>
                <tr>
                  <td scope="row">Ккс (%)</td>
                  <td >{{ coordination }}</td>
                </tr>
                <tr>
                  <td scope="row">КсФП (%)</td>
                  <td >{{ physical_fitness }}</td>
                </tr>
              </tbody>
            </table>
    </div>
{% endblock %}