{% extends 'base.html' %}
    {% block charts_start %}
    <form action="{% url 'psy_charts' %}">
        <button type="submit" class="btn btn-primary btn-sm mr-1" ><i class="fas fa-chart-line"></i> Построить графики</button>
    </form>
    {% endblock %}
    {% block menu %}
        <p></p>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'index' %}">Функциональная подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'physical' %}">Физическая подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'tactical' %}">Технико-тактическая подготовленность</a>
              <a class="nav-item nav-link active" href="{% url 'psy' %}">Психологическая подготовленность</a>
            </div>
          </div>
        </nav>
    </div>
    {% endblock %}
{% block table_content %}
    <div class="mx-5 p-1">
            <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Название показателя</th>
                      <th scope="col">Результат</th>
                      <th scope="col">Оценка</th>
                    </tr>
                  </thead>
                <tbody>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Каратэку предлагается оценить различные компоненты психического состояния: настроение, состояние здоровья, возбуждение, желание соревноваться, значимость предстоящей деятельности, готовность к высшим достижениям, уверенность в себе. Шкалы самооценки – отрезки прямой линии длиной 100 мм, без делений. Рядом с левым (для испытуемого) полюсом надпись – «очень низкая», рядом с правым надпись – «очень высокая». Для самооценки психического состояния спортсменам предлагается чистая шкала. Количество сантиметров на шкале, отмеченное ручкой в виде крестика, определяет уровень собственных ощущений спортсмена.">Тест "Градусник" (см)</td>
                  <td>{{ thermometer_test }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="С помощью этого теста определяется способность субъективного отсчета времени, которая, как известно, под влиянием усиления возбуждения обнаруживает тенденцию к его недооценке (укорочению), а при развитии процесса торможения – к переоценке (удлинению). Процедура тестирования: спортсмену предлагается, не глядя на секундомер, максимально точно оценить отрезок времени, равный десяти секундам 3 раза">Тест "10 секунд" (разница в с)</td>
                  <td>{{ second_test }}</td>

                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Коэффициент эмоциональной устойчивости в бою это средняя арифметическая каждого вида экстремальных ситуаций">Коэффициент эмоциональной устойчивости</td>
                  <td >{{ emotional_stability }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Коэффициент настойчивости – это отношение количества ситуаций, где спортсмен проявил настойчивость, к количеству всех ситуаций в которых спортсмен должен проявить это качество за время проведения всего поединка, умноженное на 100%">Коэффициент настойчивости</td>
                  <td >{{ persistence_ratio }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Коэффициент смелости – это отношение количества ситуаций, где спортсмен проявил смелость, к количеству всех ситуаций, в которых спорт-смен обычно проявлял за время проведения всего поединка, умноженное на 100%">Коэффициент смелости</td>
                  <td >{{ courage_ratio }}</td>
                </tr>
              </tbody>
            </table>
    </div>
{% endblock %}