{% extends 'base.html' %}
    {% block charts_start %}
    <form action="{% url 'tactical_charts' %}">
        <button type="submit" class="btn btn-primary btn-sm mr-1" ><i class="fas fa-chart-line"></i> Построить графики</button>
    </form>
    {% endblock %}
    {% block menu %}
        <p></p>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'index' %}">Функциональная подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'physical' %}">Физическая подготовленность</a>
              <a class="nav-item nav-link active" href="{% url 'tactical' %}">Технико-тактическая подготовленность</a>
              <a class="nav-item nav-link" href="{% url 'psy' %}">Психологическая подготовленность</a>
            </div>
          </div>
        </nav>
    </div>
    {% endblock %}
{% block table_content %}
    <div class="mx-5 p-1">
            <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Название показателя</th>
                      <th scope="col">Результат</th>
                      <th scope="col">Оценка</th>
                    </tr>
                  </thead>
                <tbody>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Среднее арифметическое коэффициента плотности ударных действий и коэффициента плотности передвижения">
                      Коэффициент объема технических действий (%)</td>
                  <td>{{ versatility_technical_actions }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Коэффициент эффективности атакующих действий показывает процентную долю ударов, дошедших до цели, к числу всех ударов, нанесенных спортсменом, умноженное на 100%">
                      Коэффициент эффективности атакующих действий (%)</td>
                  <td>{{ attack_efficiency }}</td>

                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Коэффициент эффективности защитных действий показывает процентную долю удавшихся защит, т.е. отношение числа парированных ударов к общему числу ударов, нанесенных атакующим, умноженное на 100% ">
                      Коэффициент эффективности защитных действий</td>
                  <td >{{ protective_actions }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Коэффициент эффективности боевых действий представляет собой среднюю арифметическую суммы коэффициентов эффективности атакующих и защитных действий">Коэффициент эффективности боевых действий</td>
                  <td >{{ warfare_ratio }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="">Коэффициент результативности</td>
                  <td >{{ performance_ratio }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Сумма коэффициента объема действий, коэффициента разносторонности технических действий, коэффициента эффективности боевых действий и коэффициента эффктивности защитных действий">Техническая подготовленность</td>
                  <td >{{ technical_readiness }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Сумма коэффициента объема действий, коэффициента разносторонности тактических действий, коэффициента эффективности боевых действий и коэффициента эффктивности защитных действий">Тактическая подготовленность</td>
                  <td >{{ tactical_action }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Данный коэффициент показывает процентную долю всех разновидностей тактических действий, которые спортсмен выполнил за время соревнований. Это отношение всех видов тактических действий, выполненных спортсменом в соревновательных поединках, к техническим действиям, выполненных всеми участниками соревнований за весь турнир, умноженное на 100%">Разносторонность тактических действий</td>
                  <td >{{ versatility_actions }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Коэффициент избранной тактики показывает процентную долю тактических действий, которые спортсмен должен выполнить в соревновательном поединке. Определяется отношением всех тактических действий, которые использовал спортсмен в бою, к тактическим действиям, которые он обычно выполняет за весь поединок, умноженное на 100%">Коэффициент избранной тактики</td>
                  <td >{{ chosen_tactics }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Коэффициент перестройки тактики показывает процентную долю тактических действий, которые спортсмен должен перестроить в соревновательном поединке. Показатель определяется отношением всех тактических действий, которые спортсмен перестроил в бою, к тактическим действиям, которые он обычно выполняет за весь поединок, умноженное на 100%">Коэффициент перестройки тактики</td>
                  <td >{{ adjustment_factor }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Коэффициент подготовительных тактических действий тактики показывает процентную долю тактических действий, которые спортсмен использовал в соревновательном поединке, т.е. отношение всех тактических действий, которые спортсмен использовал в бою, к тактическим действиям, которые он должен выполнить за весь поединок, умноженное на 100%">Коэффициент подготовительных тактических действий</td>
                  <td >{{ preparatory_actions }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Коэффициент ситуативных тактических действий показывает процент-ную долю тактических действий, которые спортсмен использовал в соревновательном поединке">Коэффициент ситуативных тактических действий</td>
                  <td >{{ situational_actions }}</td>
                </tr>
                <tr>
                  <td scope="row" data-toggle="tooltip" data-placement="bottom" title="Коэффициент ситуативных тактических действий показывает процент-ную долю тактических действий, которые спортсмен использовал в соревновательном поединке">Коэффициент объема тактических действий</td>
                  <td >{{ scope_tactical_action }}</td>
                </tr>
              </tbody>
            </table>
    </div>
{% endblock %}